<ion-view title="Adicionar Conta">
    
        <ion-content>
         <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Conta</span>
        <input type="text" placeholder="Conta">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Data de Vencimento</span>
        <input type="text" placeholder="Data de Vencimento">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Valor</span>
        <input type="text" placeholder="Valor">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="Observações">
      </label>
      <button class="button button-block button-calm">
                Adicionar Conta
      </button>      
            
    </div>
        </ion-content>
    
    </ion-view>