<ion-view title="Adicionar Afazer">
    
        <ion-content>
         <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Afazer</span>
        <input type="text" placeholder="Afazer">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Data</span>
        <input type="text" placeholder="Data">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hora</span>
        <input type="text" placeholder="Hora">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Responsável</span>
        <input type="text" placeholder="Responsável">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="Observações">
      </label>
      <button class="button button-block button-calm">
                Adicionar Afazer
      </button>      
            
    </div>
        </ion-content>
    
    </ion-view>