<ion-view title="Cadastro de REP">
        
            <ion-content>
             <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nome</span>
            <input type="text" placeholder="Nome">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Rua</span>
            <input type="text" placeholder="Rua">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Número</span>
            <input type="text" placeholder="Número">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Bairro</span>
            <input type="text" placeholder="Bairro">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Cidade</span>
            <input type="text" placeholder="Cidade">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">CEP</span>
            <input type="text" placeholder="CEP">
          </label>
          <button class="button button-block button-calm">
                    Cadastrar
          </button>      
                
        </div>
            </ion-content>
        
        </ion-view>