<ion-view title="Cadastro de Morador">

    <ion-content>
     <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nome completo</span>
    <input type="text" placeholder="Nome completo">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Telefone</span>
    <input type="text" placeholder="Telefone">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Senha">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Confirmar Senha">
  </label>
  <div class="termos">
    <label class="termos-uso">
        <ion-checkbox class="termos">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aceito os Termos de Uso e Políticas de Privacidade.</ion-checkbox>
    </label>
  </div>
  <button class="button button-block button-calm">
            Cadastrar
  </button>        
</div>
    </ion-content>

</ion-view>