<ion-view title="Login">


      <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-help" ng-click="tutorial()">
        </button>
    </ion-nav-buttons> 



    <ion-content>

        <div class="list list-inset">
            <p align="center">Logo REP App</p>       
        <label class="item item-input item-floating-label">
            <input type="text" placeholder="E-mail">
        </label>        
        <label class="item item-input">
            <input type="password" placeholder="Senha">
        </label>
        <button class="button button-block button-calm" ng-click="entrar()">
            Entrar
        </button>
        </div>

        
    </ion-content>

 
<!-- 
<div class="bar bar-footer">

     <button class="button button-block button-calm">
    Cadastre-se
    </button>

</div> -->


<ion-footer-bar class="bar-positive">

     <button class="button button-block button-positive" ng-click="addMorador()"> 
        Cadastre-se
     </button>
  
</ion-footer-bar>


</ion-view>