<ion-view title="Menu">
        
    <ion-content>
        <div class="list">
          <button class="button button-block button-calm" ng-click="addRepublica()">
                Cadastrar República
          </button>
          <button class="button button-block button-calm" ng-click="addMorador()">
                Cadastrar Morador
          </button>
          <button class="button button-block button-calm" ng-click="addAfazer()">
                Adicionar Afazer
          </button>
          <button class="button button-block button-calm" ng-click="addConta()">
                Adicionar Conta
          </button>
          <button class="button button-block button-calm" ng-click="dadosPessoais()">
                Dados Pessoais
          </button>
        </div>
    </ion-content>
</ion-view>

